 /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

body {
	margin: 0;
}

#navbar {
	text-align: center;
	position: fixed;
	background-color: white;
}

.nav-link {
	display: block;
	width: 100%;
}

.main-section {
	padding: 0 15px;
}

.code-block {
	margin: auto;
	width: 95%;
	border-radius: 20px;
	box-shadow: 3px 3px 2px 2px #ccc;
}

.code-block p {
	background: hsl(134, 90%, 94%);
	border-radius: 20px 20px 0px 0px;
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	margin: 0;
}

.code-block code {
	display: block;
	text-align: left;
  word-break: normal;
  word-wrap: normal;
	white-space: nowrap;
	line-height: 1.5;
	background: hsl(0, 0%, 90%);
	border-radius: 0 0 20px 20px;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	overflow-x: scroll;
	padding: 5px;
}

.code-block ul {
	padding-left: 1.25em;
}

.code-block li {
	list-style-type: none;
}

footer {
	font-size: small;
	text-align: center;
}

@media only screen and (max-width: 768px) {

#navbar {
	width: 100%;
	height: 180px;
	top: 0;
	left: 0;
}

#main-doc {
	margin-top: 180px;
}

.nav-links {
	overflow-y: scroll;
	height: 80px;
}

:target::before {
  content: "";
  display: block;
  height: 180px; /* fixed header height*/
  margin: -180px 0 0; /* negative fixed header height */
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.code-block ul {
	padding-left: 2em;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


#navbar {
	width: 200px;
	height: 100%;
	top: 0;
	left: 0;
}

#main-doc {
	margin-top: 0;
	margin-left: 200px;
}

.nav-links {
	overflow-y: none;
	height: 80px;
}

:target::before {
  display: none;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */ 
