 /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */



body {
	margin: 0;
}


#navbar {
	text-align: center;
	position: fixed;
	background-color: white;
}


.nav-link {
	display: block;
	width: 100%;
}


.code-block code {
	text-align: left;
	white-space: pre;
  word-break: normal;
  word-wrap: normal;s
}

@media only screen and (max-width: 768px) {

#navbar {
	width: 100%;
	height: 180px;
	top: 0;
	left: 0;
}

#main-doc {
	margin-top: 180px;
}

.nav-links {
	overflow-y: scroll;
	height: 80px;
}

:target::before {
  content: "";
  display: block;
  height: 180px; /* fixed header height*/
  margin: -180px 0 0; /* negative fixed header height */
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


#navbar {
	width: 200px;
	height: 100%;
	top: 0;
	left: 0;
}

#main-doc {
	margin-top: 0;
	margin-left: 200px;
}

.nav-links {
	overflow-y: none;
	height: 80px;
}

:target::before {
  display: none;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */ 
