$scrapy-blue: hsl(203, 63.4%, 43.9%);
$scrapy-black: hsl(0, 4.6%, 12.7%);
$scrapy-gray: hsl(0,0%,85%);
$scrapy-white: hsl(0,0%,98.8%);
$link-highlight: hsl(0, 4.6%, 24%);
$code-block-top-color: hsl(134, 90%, 94%);
$nav-width-large-scn: 250px;
$nav-padding-large-scn: 10px;
$code-indent-sm-scn: 1.25em ;
$code-indent-large-scn: 2em;
$nav-height-sm-scn: 200px; 

body {
	margin: 0;
	font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
	background-color: $scrapy-gray;
}

#navbar {
	text-align: center;
	position: fixed;
	color: $scrapy-gray;
	background-color: $scrapy-black;
}

#navbar h1 {
	background-color: $scrapy-blue;
	margin: 0;
	padding: 1em 0em;
}

.nav-links {
	margin: .5em auto;	
}

.nav-link {
	display: block;
	color: $code-block-top-color;
	width: 100%;
	text-decoration: none;
}

.nav-link:hover {
	background-color: $link-highlight;
}

#main-doc {
	padding: 0 15px;
	background-color: $scrapy-white;
	color: $scrapy-black;
}

h2 {
	color: $scrapy-blue;
}

blockquote {
	background-color: $scrapy-gray;
	font-style: italic;
	padding: 1em;
}

.note {
	font-weight: bold;
}

.code-block {
	margin: auto;
	width: 95%;
	border-radius: 20px;
	box-shadow: 3px 3px 2px 2px #ccc;
}

.code-block p {
	background: $code-block-top-color;
	border-radius: 20px 20px 0px 0px;
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	padding-left: $code-indent-sm-scn; 
	margin: 0;
}

.code-block code {
	display: block;
	text-align: left;
  word-break: normal;
  word-wrap: normal;
	white-space: nowrap;
	line-height: 1.5;
	background: hsl(0, 0%, 90%);
	border-radius: 0 0 20px 20px;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	overflow-x: scroll;
	padding: 5px;
}

.code-block ul {
	padding-left: $code-indent-sm-scn;
}

.code-block li {
	list-style-type: none;
}

footer {
	font-size: small;
	text-align: center;
}

// Small screen data
@media only screen and (max-width: 768px) {

#navbar {
	width: 100%;
	height: $nav-height-sm-scn;
	top: 0;
	left: 0;
}

#main-doc {
	margin-top: $nav-height-sm-scn;
}

.nav-links {
	overflow-y: scroll;
	height: 4em;
}

:target::before {
  content: "";
  display: block;
  height: $nav-height-sm-scn - 20px; /* fixed header height*/
  margin: 0;
  margin-top: -$nav-height-sm-scn + 20px; /* negative fixed header height */
	padding: 0;
	z-index: -100;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.code-block p {
	padding-left: $code-indent-large-scn;
}

.code-block ul {
	padding-left: $code-indent-large-scn;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

#navbar {
	width: $nav-width-large-scn;
	height: 100%;
	top: 0;
	left: 0;
}

#navbar h1 {
	padding: $nav-padding-large-scn; 
}

.nav-link {
	width: 100%;
	padding: 10px 0;
	font-size: 90%;
}

#main-doc {
	margin-top: 0px;
	max-width: 750px;
	padding: 1px 22px;
	margin-left: $nav-width-large-scn;
}

:target::before {
  display: none;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */ 
